<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=unitygives_db;Integrated Security=True;Connect Timeout=30;Encrypt=False;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
